<div class="row mt-5">
    <div class="col">
        <h1>*ngIf</h1>
        <div *ngIf="visibility" class="card mb-5 bg-primary">
            <div class="card-body text-light">
                <h1>{{ngIfContent.titulo}}</h1>
                {{ngIfContent.contenido}}
            </div>
        </div>
        <button (click)="visibility = !visibility;" class="btn btn-primary align-self-center">
            Toggle
        </button>
    </div>
    <div class="col">
        <h1>*ngFor</h1>
        <div class="card">
            <div class="card-body">
                <ul class="list-group">
                    <li *ngFor="let item of ngForEls" class="list-group-item">{{item}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>