<div class="row">
    <div class="col">
        <div class="float-left card mr-3">
            <div class="card-header text-center">
                <h5 class="card-title">{{heroe.nombre | uppercase}}</h5>
            </div>
            <img class="card-img-top" src="{{heroe.img}}">
            <div class="card-body">
                <table class="table">
                    <tr>
                        <td>Casa</td>
                        <td>
                            <p class="card-text">{{heroe.casa}}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Primera aparicion</td>
                        <td>{{heroe.aparicion | date:'y'}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <p>{{heroe.bio}}</p>
    </div>
</div>