<div class="jumbotron">
    <h1 class="display-4">Sobre esta app</h1>
    <p class="lead">Esta aplicacion hecha en angular se podran buscar y ver heroes de comics.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae eveniet repudiandae quisquam nulla odio, ipsam ex aperiam dolores fugiat! Aspernatur ratione accusamus asperiores nam tempora cumque, in eos amet illum? Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Labore corrupti pariatur doloremque nostrum eveniet sint incidunt optio libero impedit. Facilis natus ipsam debitis doloribus tempora eos sunt maxime perferendis provident. Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Tempora inventore voluptates necessitatibus aut dicta cumque temporibus molestiae dolores voluptate numquam cupiditate, error optio maiores quod. Laudantium sit animi molestiae eius.<br>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Quam velit nemo dolor deserunt, dolores assumenda molestiae quasi expedita maiores nulla ullam quis, impedit suscipit porro? Harum labore similique odio laudantium.</p>
</div>