.card-overcontent {
    position: absolute;
    padding: 20px;
    bottom: 0px;
    width: 100%;
    background: #000000ad;
}

.card-img-overlay {
    padding: 0 !important;
}

a {
    color: white;
}