<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
    <a href="#">
        <img src="assets/img/A-64.png" width="30" height="30">
    </a>
    <a class="navbar-brand" href="#">plicacion de una pagina</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a [routerLink]="[ '/home' ]" routerLinkActive="active" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="[ '/heroes' ]" routerLinkActive="active" class="nav-link">Heroes</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="[ '/about' ]" routerLinkActive="active" class="nav-link">Acerca de</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" onsubmit='return false'>
            <input class="form-control mr-sm-2" type="search" placeholder="Nombre del heroe" aria-label="Search" (keyup.enter)="buscarHeroe(heroeInputSearch.value)" #heroeInputSearch>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="buscarHeroe(heroeInputSearch.value)">Buscar</button>
        </form>
    </div>
</nav>